.home {
  .create-todo {
    text-align: center;

    #form {
      display: flex;
      justify-content: center;

      input {
        outline: none;
        border: none;
        padding: 1em 2em;
        font-family: inherit;
        transition: 0.3s ease-in-out;
      }

      input[type="text"] {
        padding-left: 0.3em;
        padding-bottom: 0.7em;
        border-bottom: 1px solid #2b4578;
        border-radius: 5px 5px 0 0;
        width: 70vw;
        max-width: 400px;
        margin-right: 2em;
      }

      input[type="text"]:focus {
        border-width: 2px;
      }

      input[type="submit"] {
        color: white;
        background-color: #2b4578;
        border-radius: 5px;
        box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.2);
        cursor: pointer;
      }

      input[type="submit"]:hover {
        opacity: 0.7;
      }

      @media (max-width: 560px) {
        flex-direction: column;

        input[type="text"] {
          margin-right: 0;
          width: 100%;
          max-width: none;
          margin-bottom: 2em;
        }
      }
    }
  }

  #older-todos {

    h3,
    h4 {
      width: 80vw;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      color: gray;
    }

    h3 {
      margin-top: 3em;
      margin-bottom: 2em;
    }

    h4 {
      color: white;
      background-color: #2b4578;
      padding: 1em;
      border-radius: 10px;
      box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.2);
      // font-weight: normal;
    }

    .todos {
      margin-top: 2em;
    }
  }

  .todos {
    margin-top: 3em;
    width: 80vw;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    .todo {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      // background-color: rgba($color: #2b4578, $alpha: .1);
      background-color: #e9ecf1;
      // box-shadow: 0 0 30px rgba($color: #2b4578, $alpha: .2);

      // height: 0;
      // opacity: 0;

      padding: 1em 2em;
      margin-bottom: 1em;
      border: 0.7px solid rgba($color: #2b4578, $alpha: 0.2);
      overflow: hidden;
      box-shadow: none;

      // transition: all 0.3s ease-out;

      div {
        display: flex;
        align-items: center;
      }

      label {
        position: relative;

        input {
          visibility: hidden;
          position: absolute;

          // margin-right: 1em;
          width: 2.5em;
          height: 2.5em;
          // font-size: 2em;
          // font-family: inherit;
          // -webkit-appearance: radio;
        }

        div {
          margin-right: 1.5em;
          width: 2.5em;
          height: 2.5em;
          border-radius: 100%;
          // background-color: #2b4578;
          background-color: white;
          border: 2px solid #2b4578;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }

        div:hover {
          background-color: whitesmoke;
        }


      }

      small {
        font-size: 70%;
        opacity: 0.7;
      }

      .close {
        opacity: 0.5;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.3rem;
        line-height: 1rem;
        font-size: 130%;
        background: white;
        border-radius: 0 5px 0 5px;
        cursor: pointer;
        border: 1px solid rgba($color: #2b4578, $alpha: 0.2);
        border-bottom: 1px solid rgba($color: #2b4578, $alpha: 0.7);
        border-left: 1px solid rgba($color: #2b4578, $alpha: 0.7);
        transition: 0.3s ease-in-out;
      }

      .close:hover {
        opacity: 1;
      }
    }

    // .show {
    //   height: 4em;
    //   opacity: 1;
    // }
  }

  #bg {
    position: fixed;
    left: 0;
    bottom: 2em;
    width: 100vw;
    text-align: center;
    z-index: -1;
  }
}

.checked {
  background-color: #2b4578 !important;
}